.albunsSearch {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.albunsSearch img {
  width: 100px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.listOfSongs {
  list-style-type: decimal;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.logoHeader {
  width: 100px;
}

.logoLogin {
  width: 100px;
}

