.albunsSearch {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.albunsSearch img {
  width: 100px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#buttonProfileEdit {
  width: 300px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.formEditFoto {
  display: flex;
}

.formEditProfile {
  display: flex;
  flex-direction: column;
}

.labelInputsForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 10px;
}

.labelInputsFoto {
  margin-left: 10px;
}

.listOfSongs {
  list-style-type: decimal;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.logoHeader {
  width: 100px;
}

.logoLogin {
  width: 100px;
}

.songAndFavorite {
  display: flex;
}

.tagPEditeProfile {
  font-style: italic;
}

textarea {
  resize: none;
}



